<div class="footer d-flex flex-column justify-content-between">
  <div class="footer-links mt-2">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website curates the most sought after pokemons on the planet. Just for YOU <i class="fas fa-heart"></i>
</div>
