<br>

<div class="d-flex justify-content-around my-4 mx-4">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="" style="width:60px; height:60px;">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="" style="width:60px; height:60px;">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="" style="width:60px; height:60px;">
  <h1 class="px-4">Welcome to <strong style="text-shadow: 1px 1px 3px #ff0000;">PokeMarket</strong></h1>
  <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="" style="width:60px; height:60px;">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="" style="width:60px; height:60px;">
  <img src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG" alt="" style="width:60px; height:60px;">
</div>

<br>

<div class="cards-landing">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path("Pokemon market/pikachu_dsgefu.jpg", crop: :fill )%>')">
    Pikachu
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path("Pokemon market/Charizard_x4n8hn.png", crop: :fill )%>')">
    Charizard
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path("Pokemon market/Bulbasaur_nlifv7.png", gravity: :face)%>')">
    Bulbasaur
  </div>
</div>


