
<div class="container">
<h1>Welcome to PokeMarket</h1>

</div>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png)">
    Pikachu
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png)">
    Charizard
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/250px-001Bulbasaur.png)">
    Bulbasaur
  </div>
</div>


