.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.cards-landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}


.cards-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.cards-landing a:hover {
  text-decoration: none;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cards-landing {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// LANDING PAGE

.card-category {
  background-size: cover;
  background-position: top;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  font-family: 'Bangers', cursive;

  &:hover,
  &:focus {
    transform: scale3d(1.01, 1.01, 1);

    &::after {
      opacity: 1;
    }
  }
}

.card-grey {
  background: $light-gray;
}

// INDEX PAGE

.offsale {
  opacity: 0.5;
}

.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h3 {
  font-size: 30px;
  color: #CC0000;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// DASHBOARD PAGE

.card-trip-dashboard{
  // overflow: hidden;
  margin-bottom: 8px;
  list-style-type: none;
  padding: 0 ;
  // padding: 0px !important

  a:hover {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #156EEA;

}}

.card-trip-dashboard p:hover {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.add-poke {
  text-decoration: none;
}
