// LANDING PAGE
.card-category {
  background-size: cover;
  background-position: top;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  font-family: 'Bangers', cursive;

  &:hover,
  &:focus {
    transform: scale3d(1.01, 1.01, 1);
  }
}

.cards#landing a:hover {
  text-decoration: none;
}

.card-gray {
  background: $light-gray;
}

// INDEX PAGE

.card-trip {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  h3 {
    font-size: 30px;
    color: $red;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
    opacity: .7;
    margin: 0;
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
}

.card-trip-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $medium-gray;
}

// DASHBOARD PAGE

.dashboard-hover {
  &:hover,
  &:focus {
    transform: scale3d(1.003, 1.003, 1);
  }
}

.img-dashboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 25% 25%;
}

// ONSALE OR OFFSALE TOGGLE

.front-offsale {
  opacity: 0.5;
}

.back-offsale {
  opacity: 0.2;
}

