<div>
<h2 class ="form-title">Welcome <%= @email %>!</h2>
</div>

<div class="form-background">
  <div class= "container form-text">
    <p>You can confirm your account email through the link below:</p>
    <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
 </div>
</div>
