<div>
<h2 class ="form-title">Hello <%= @resource.email %>!</h2>
</div>

<div class="form-background">
  <div class= "container form-text">
<p>We're contacting you to notify you that your password has been changed.</p>
 </div>
</div>
